<!DOCTYPE html>
<html lang="es">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="
    width=device-width,
    minimal-ui,
    user-scalable=no,
    initial-scale=1
    minimal-scale=1,
    maximum-scale=1,
    shrik-to-fit=no,">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="Bienvenido a la web">
    <meta name="keywords" content="design,el salvador,">
    <title>Hotel BT | Welcome</title>
  </head>

  <body>
    {{>partials/_navbar }}
  </body>

</html>
